<br/>
<div class="clearfix">
  <% pageNum = (pageNum * 1) || 1; %>
  <% perpage = (perpage * 1) || 20; %>
  <% countPage = countPage * 1; %>
  <% var totalNumber = pageNum * perpage; %>
  <div class="dataTables_info">
    从 <%= (pageNum - 1 ) * perpage + 1 %> 到 <%= totalNumber > countPage  ? countPage  : totalNumber %> /共 <%= countPage  %> 条数据
  </div>
  <div id="page-table-con" class="dataTables_paginate paging_simple_numbers">
    <% if(pageNum > 1){ %>
      <a class="paginate_button previous" data-perpage="<%= perpage %>" data-pagenum="<%= pageNum - 1 %>" href="<%= paginateUrl %>perpage=<%= perpage %>&pageNum=<%= pageNum - 1 %>">上页</a>
    <% } else { %>
      <a class="paginate_button previous disabled" href="javascript:;">上页</a>
    <% } %>
    <span>
      <% var len =  Math.ceil(countPage  / perpage); %>
      <% var page = true; %>
      <% for(var i=1; i <= len; i++){ %>
        <% if(i == pageNum){ %>
          <a class="paginate_button current" href="javascript:;"><%= i %></a>
        <% }else{ %>
          <% if(i < 3 || i + 3 >= len || (i >= pageNum - 2 && i <= pageNum + 2)){ %>
            <a class="paginate_button" data-perpage="<%= perpage %>" data-pagenum="<%= i %>"  href="<%= paginateUrl %>perpage=<%= perpage %>&pageNum=<%= i %>"><%= i %></a>
            <% page = true; %>
          <% }else { %>
            <% if(page){ %>
              <a class="paginate_button">...</a>
              <% page = false; %>
            <% } %>
          <% } %>
        <% } %>
      <% } %>
    </span>
    <% if(totalNumber < countPage ){ %>
      <a class="paginate_button next" data-perpage="<%= perpage %>" data-pagenum="<%= pageNum + 1 %>" href="<%= paginateUrl %>perpage=<%= perpage %>&pageNum=<%= pageNum + 1 %>">下页</a>
    <% } else { %>
      <a class="paginate_button next disabled" href="javascript:;">下页</a>
    <% } %>
  </div>
</div>