
<!--
	功能：服务端分页表格模版
	包含：表头 ／ 表体 ／ 分页器
	需求数据：{
		countPage : 42 ,
		listData : [] ,
		listHead : [{label : "" , text : ""}] ,
		pageNum : 1 ,
		perpage : 20
	}
	数据参数说明：
		countPage - 列表数据总计
		listData - 表格数据
		listHead - 表头数据
		pageNum - 当前页码
		perpage - 每一页数据条数

	使用方式：
		<script id="id_201610141636" type="text/html">
            <link rel="import" href="../../views/component/tablePage.html?__inline">  
        </script>
    Note : 拼接参数，使用underscore
    $.param(_.omit(query, 'pageNum','perpage')) 过滤掉pageNum / perpage
 -->
<div style="overflow: auto;">
	<table class="table dataTable table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
		<thead>
		 	<tr>
		      <% for(var i = 0 , len = listHead.length ; i < len ; i++ ){ %>
		        <th><%= listHead[i]['text'] %></th>
		      <% } %>
		    </tr>
		</thead>
		<tbody>
		    <% for(var j = 0 , lenD = listData.length ; j < lenD ; j++){ %>
		      <tr>
		      	<% for(var i = 0 , len = listHead.length ; i < len ; i++ ){ %>
		        	<td><%= listData[j][listHead[i]['label']]%></td>
		        <% } %>
		      </tr>
		    <% } %>
		</tbody>
	</table>
</div>
<link rel="import" href="./pages.html?__inline">
