<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border:0">
    <a href="#/main" class="site_title"><i class="fa fa-paw"></i><span style="letter-spacing: 3px;">&nbsp;摩登笔记</span></a>
  </div>
  <div class="clearfix">
  </div>
  <div class="profile clearFloat">
    <div class="profile_pic">
      <img src="/assets/img/host.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome</span>
      <h2 class="username">艄&nbsp;&nbsp;公</h2>
    </div>
  </div>
  <br>
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
    </div>
  </div>
  <div class="sidebar-footer hidden-small" style="display:none">
    <a data-toggle="tooltip" data-placement="top" title="Settings"><span class="glyphicon"></span></a><a data-toggle="tooltip" data-placement="top" title="FullScreen"><span class="glyphicon"></span></a><a data-toggle="tooltip" data-placement="top" title="Lock"><span class="glyphicon"></span></a><a data-toggle="tooltip" data-placement="top" title="Logout"><span class="glyphicon"></span></a>
  </div>
</div>