<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/libs/select2/css/select2.min.css">
<link rel="stylesheet" href="/assets/css/common.css">
<div class="container body">
<div class="main-container">
  <div class="col-md-3 left_col">
    <!--inline[layout/home/left.html]-->
  </div>
  <div class="top_nav clearFloat">
    <!--inline[layout/home/nav_menu.html]-->
  </div>
  <div class="right_col" role="main">
    <!--inline[layout/home/main.html]-->
  </div>
</div>
<!--inline[layout/footer.html]-->
<!-- 启动文件 -->
<script src="/app/main.js?__inline"></script>
</div>