<div class="login-title">
  <h2>摩登笔记系统<span>beta</span></h2>
</div>

<!-- <div class="login-button">登&nbsp;录</div> -->
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>
  <div class="login-bg">
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form onsubmit="return false;">
            <h1 style="font-weight:bold;">登&nbsp;&nbsp;录</h1>
            <div>
              <input type="text" id="username" class="form-control" placeholder="用户名" required="" />
            </div>
            <div>
              <input type="password" id="password" class="form-control" placeholder="密码" required="" />
            </div>
            <div>
              <button class="btn btn-default submit" id="loginSubmit">登&nbsp;&nbsp;录</button>
              <a class="reset_pass" style="display:none;" href="#">Lost your password?</a>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="separator">
            <p class="change_link" style="display:none;">New to site?
            <a href="#signup" class="to_register" style="text-decoration:underline"> Create Account </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
            <h1><i class="fa fa-paw"></i> IFMUSE </h1>
            <p>尚品云智（北京）信息技术有限公司 </p>
            <p style="display:none;">公司地址：北京市朝阳区望京方恒时代中心 B 座503室</p>
            </div>
            </div> -->
          </form>
        </section>
      </div>
      <!-- 注册功能 -->
      <div id="register" class="animate form registration_form">
        <section class="login_content">
          <form>
            <h1>Create Account</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="Email" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" href="./home.html">Submit</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="#signin" class="to_register"> Log in </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                <p>Fangheng Times Center, Chaoyang District, Beijing</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
